@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/about.css);
.nav{
  display: flex;
  justify-content: space-between;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__logo{
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links{
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  margin: 0;
  transition: opacity 0.5s;
}

.nav__link:hover {
  opacity: 0.5;
}

.recipes{
  color: #fff;
  background-color: #0a2750;
  padding: 100px 80px 215px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__videos{
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style-type: none;
  margin: 0;
}

.recipes__title{
  margin: 0 0 24px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle{
  margin: 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__video-caption{
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}

.recipes__iframe{
  border: none;
}
.reservation{
  background-image: url(../images/background_reservation.svg);
  padding: 100px 0 120px;
  background-color: #D9E7FF;
  background-size: cover;
  background-repeat: no-repeat;
}

.reservation__title{
  margin: 0 0 80px;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form{
  margin: 0 auto;
}

.form{
  max-width: 385px;
}

.form__fieldset{
  margin: 0;
  padding: 0;
  border: none;
}

.form__input{
  display: block;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  margin: 8px 0 32px;
  border: 1px solid #838383;
  border-radius: 4px;
}

.form__button{
  width: 100%;
  padding: 20px;
  margin-bottom: 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #1878dc;
}

.form__button:hover{
  transition: background-color 1s ease;
  background-color: #3f96f3;
}

.form__checkbox{
border-radius: 2px;
width: 20px;
height: 20px;
}

.form__label_type_checkbox{
  display: flex;
  gap: 12px;
  justify-content: center;

}
.menu{
  padding: 100px 0 100px;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }

.menu__title{
  text-align: center;
  max-width: 780px;
  margin: 0 0 24px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle{
  text-align: center;
  margin: 0 0 100px;
  max-width: 780px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 100px;
  margin: 0 auto;
  padding: 0;
}

.card{
  width: 540px;
}

.card__list{
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.card__title{
  margin: 0 0 32px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list-item{
  margin-bottom: 16px;
  display: flex;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-devider{
  border-bottom: 1px solid black;
  flex-grow: 1;
}
.about{
  background-color: #0A2850;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.about__title{
  max-width: 251px;
  padding-top: 100px;
  padding-left: 80px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
}

.about__content{
  padding: 119px 80px 173px;
}

.about__paragraph{
  max-width: 660px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin: 0 0 20px;
}

.about__paragraph:last-child{
  margin-bottom: 0;
}

.about__circle{
  top: -152px;
  left: -129px;
  border-radius: 50%;
  background-color: #1878DC;
  position: absolute;
  width: 426px;
  height: 426px;
  z-index: -1;
}

.about__circle_animation_blurred{
  animation: pulsate 1.3s ease-in-out infinite;
}


.footer{
  background: linear-gradient(180deg, #0A2850 0%, #071931 100%);

}

.footer__content{
  display: flex;
  justify-content: space-between;
  padding: 60px 80px 180px 80px;
  color: #fff;
}

.footer__logo{
  width: 105px;
  height: 39px;
}

.footer__column{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
}

.footer__social-heading{
  margin: 0 0 20px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list{
  list-style-type: none;
  padding-left: 0;
}

.footer__list-item{
  margin: 0 0 16px 10px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.footer__social-icon{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__social-link {
  transition: opacity 0.5s;
}

.footer__social-link:hover {
  opacity: 0.7;
}

.footer__copyright{
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-left: 80px;
  padding-bottom: 60px;
  margin: 0;
}
